
<%= form_with model: @article, local: true do |form| %>

  <p>
    <%= form.label :date %> <br>
    <%= select_date Date.today, prefix: :date %>
  </p>

  <p>
    <%= form.label :real_estate %><br>
    <%= form.text_area :real_estate %>
  </p>

  <p>
    <%= form.label :savings_accounts %><br>
    <%= form.text_area :savings_accounts %>
  </p>

  <p>
    <%= form.label :checking_accounts %><br>
    <%= form.text_area :checking_accounts %>
  </p>

  <p>
    <%= form.label :retirement_accounts %><br>
    <%= form.text_area :retirement_accounts %>
  </p>

  <p>
    <%= form.label :vehicles %><br>
    <%= form.text_area :vehicles %>
  </p>

  <p>
    <%= form.label :iras %><br>
    <%= form.text_area :iras %>
  </p>

  <p>
    <%= form.label :stocks %><br>
    <%= form.text_area :stocks %>
  </p>

  <p>
    <%= form.label :debt %><br>
    <%= form.text_area :debt %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>
