
<%= form_with model: @article, local: true do |form| %>

  <p>
    <%= form.label :date %> <br>
    <%= form.date_select :date, :start_year=>1950 %>
  </p>

  <p>
    <%= form.label :checking_accounts %><br>
    <%= form.text_field :checking_accounts, required:true, :default=>0%>
  </p>

  <p>
    <%= form.label :regular_savings %><br>
    <%= form.text_field :regular_savings, required:true, :default=>0%>
  </p>

  <p>
    <%= form.label :high_yield_savings %><br>
    <%= form.text_field :high_yield_savings, required:true, :default=>0%>
  </p>

  <p>
    <%= form.label :debt %><br>
    <%= form.text_field :debt, required:true, :default=>0%>
  </p>

  <p>
    <%= form.submit%>
  </p>

<% end %>
