<p>
  <strong> Date:</strong>
  <%= @article.date %>
</p>

<p>
  <strong>Checking Accounts:</strong>
  <%= @article.checking_accounts%>
</p>

<p>
  <strong>Savings Accounts:</strong>
  <%= @article.savings_accounts = @article.high_yield_savings + @article.regular_savings %>
  <% @article.save %>

</p>

<p>
  <strong>Debt:</strong>
  <%= @article.debt %>
</p>

<p>
  <strong>Total:</strong>
  <%= @article.total = @article.savings_accounts + @article.checking_accounts - @article.debt %>
  <% @article.save %>
</p>


<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
