<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<p>
  <strong>Real Estate:</strong>
  <%= @article.real_estate %>
</p>

<p>
  <strong>Savings Accounts:</strong>
  <%= @article.savings_accounts %>
</p>

<p>
  <strong>Checking Accounts</strong>
  <%= @article.checking_accounts %>
</p>

<p>
  <strong>Retirement Accounts</strong>
  <%= @article.retirement_accounts %>
</p>

<p>
  <strong>Vehicles</strong>
  <%= @article.vehicles %>
</p>

<p>
  <strong>IRAs</strong>
  <%= @article.iras %>
</p>

<p>
  <strong>Stocks</strong>
  <%= @article.stocks %>
</p>

<p>
  <strong>Debt</strong>
  <%= @article.debt %>
</p>


<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
