<h1>Stock Log</h1>

<table>
  <tr>
    <th>Date</th>
    <th>VTIAX</th>
    <th>VTSAX</th>
    <th>Total Invested</th>
    <th>Change</th>
  </tr>

  <% @stocks.each do |stock| %>
    <tr>
      <td><%= stock.date %></td>
      <td><%= stock.vtiax %></td>
      <td><%= stock.vtsax %></td>
      <td><%= stock.total_invested %></td>
      <td><%= stock.change %> </td>
      <td><%= link_to 'Show', stock_path(stock) %></td>
      <td><%= link_to 'Edit', edit_stock_path(stock) %></td>
      <td><%= link_to 'Delete', stock_path(stock),
               method: :delete,
               data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<br>
<%= link_to 'Back', welcome_index_path %>
