<p>
  <strong> Date:</strong>
  <%= @stock.date %>
</p>

<p>
  <strong>VTIAX:</strong>
  <%= @stock.vtiax %>
</p>

<p>
  <strong>VTSAX:</strong>
  <%= @stock.vtsax %>
</p>

<p>
  <strong>Total Invested:</strong>
  <%= @stock.total_invested %>
</p>

<p>
  <strong>Change:</strong>
  <%= @stock.change = (@stock.total_invested - (@stock.vtiax + @stock.vtsax))*(-1)  %>
  <% @stock.save %>
</p>

<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
