<h1>Finance Dashboard</h1>
<%= link_to 'Savings Log', controller: 'articles' %>
<%= link_to 'Savings Update', new_article_path %>
<br><br>
<%= link_to 'Stock Log', controller: 'stocks' %>
<%= link_to 'Stock Update', new_stock_path %>
<br>
<br>

<h1> Savings </h1> <br>

<%= line_chart [
  { name: 'checking_accounts', data: Article.group(:date).maximum(:checking_accounts) },
  { name: 'savings_accounts', data: Article.group(:date).maximum(:savings_accounts) },
  { name: 'debt', data: Article.group(:date).maximum(:debt) },
] %>

<br>
<h1> Investments </h1> <br>

<%= line_chart [
  { name: 'vtiax', data: Stock.group(:date).maximum(:vtiax)},
  { name: 'vtsax', data: Stock.group(:date).maximum(:vtsax)},
  { name: 'total_invested', data: Stock.group(:date).maximum(:total_invested)},
  { name: 'change', data: Stock.group(:date).maximum(:change)},

] %>
